# Android SDK location
# Update this path to point to your Android SDK installation
sdk.dir=/Users/YOUR_USERNAME/Library/Android/sdk

# Or on Windows:
# sdk.dir=C\:\\Users\\YOUR_USERNAME\\AppData\\Local\\Android\\Sdk

# Or on Linux:
# sdk.dir=/home/YOUR_USERNAME/Android/Sdk
